<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="Gaia_Feed" value="https://dev.nsedna.com/SednaCollection/_packaging/Gaia_Feed/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Gaia_Feed>
			<add key="Username" value="m.abbasi@nsedna.com" />
			<add key="ClearTextPassword" value="faiwxpnppzzkccbyr7ekvxse7uzqct7eolludjvq4yohyi3jet2a" />
			<add key="ValidAuthenticationTypes" value="basic" />
		</Gaia_Feed>
	</packageSourceCredentials>

</configuration>